<!DOCTYPE html>
<html ng-app="rugratApp">
  <head>
    <title>Angular Rugrats!</title>
    <link href="css/app.css" rel="stylesheet"/>
    <script src="lib/angular/angular.min.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body ng-controller="RugratListCtrl">
      <img id="logo" src="img/rugrats/logo.png"/>
      <input id="search" type="text" ng-model="query" />
      <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="age" selected>Age</option>
      </select>
      <div class="rugrat-container container">
        <ul>
          <li ng-repeat='rugrat in rugrats | filter:query |
          orderBy:orderProp'class="rugrat">
            <img ng-src="img/rugrats/{{rugrat.name}}.jpg"/>
            <p>{{rugrat.name}}</p>
            <p>{{rugrat.bio}}</p>
            <p>Age: {{rugrat.age}}</p>
          </li>
        </ul>
      </div>
  </body>
</html>